/**********************/
/*  New GitHub icons  */
/**********************/

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family:'Octicons Regular';
  src: url(https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-542d1cdc51bbc13a0fabc02172edf53efea25207.eot#iefix) format(embedded-opentype),
    url(https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-7d1fc33eca6dc97c645958031e4d6ca1fedbff93.woff) format(woff),
    url(https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-b5674448990f291fadee094eb3f1660d1299b8e1.ttf) format(truetype),
    url(https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-8827b46b1af54d4f19d86babeb869887dd6ac9cf.svg#newFontRegular) format(svg);
}

.minibutton.btn-watch .icon,
.minibutton.btn-fork .icon {
    float: left;
    margin-right: 6px;
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 24px;
}

/* Watch button */
.minibutton.btn-watch .icon:before {
    content: "\f01d";
}

/* Fork button*/
.minibutton.btn-fork .icon:before {
    content: "\f020";
}